.top
{
    background-image: url("../../resources/images/p background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 500px; 
    margin: 25px  320px ;
    text-align: center;
}
.top img
{
    height: 330px;
}
.message
{
    text-align: center ;
    background-color: rgb(71, 69, 69);
    font-size: 18px;
    margin:0px 100px 50px 100px;
    color: #fff;
    word-spacing: 10px;
    padding:8px 60px;
    border-radius: 7px;
}
.contentWrapper
{
    font-size: 18px;
    text-align: justify;
    justify-content: space-around;
    display: flex;
    margin: 60px 30px;
    
}
.contentWrapper1
{
    font-size: 18px;
    text-align: justify;
    justify-content: space-around;
    display: flex;
    margin: 20px 30px;
}
.contentWrapper img
{
    height: 200px;
    margin:auto 0px;
    margin-right: 80px;
}
.contentWrapper1 img
{
    height: 200px;
    margin: auto 0px;
    margin-left: 80px;
}
.heading
{
    text-align: left;
    background-color: black;
    color: #e0aa3e;
    font-size: 25px;
    margin: 20px 0px;
    border-radius: 5px;
    width: 80%;
    padding: 5px 0px 5px 15px;
}
.bgimage
{
    background-image: url("../../resources/images/p bottom image.png");
    background-size: cover; 
    height: auto;
    background-repeat: no-repeat;
}
.headingWrapper
{
    text-align: center;
}
.wrapper
{
    padding: 0px 30px;
    margin: 20px 0px;
}
.arrow svg {
    font-size: 35px;
    color: #e0aa3e;
}
.arrow
{
    float: right;
    padding-right: 15px;
}

