.bg   
 {
     background-image: url('../../assets/images/footer-background.png');
     background-size: contain;
     height: auto;
 }
 .contact
 {
     text-align: center;
     color: white ;
     font-size: 20px;
     padding: 20px;
 }
 .number
 {
     text-align: center;
     color: white;
     font-size: 15px;
 } 
 .copyright
 {
     color: white;
     display: inline;
     
 }
 .by
 {
    color:goldenrod;
    margin-bottom: 100px;
    display: inline;
    
 }
 .twitter
 {
    
    color: goldenrod;
    display: inline;
    font-size:50px ;
}
 .youtube
 {
    color: goldenrod;
    display: inline;
    font-size: 50px;
}
 .fb
 {
     color: goldenrod;
     display: inline;
     font-size: 50px;
     }
 .insta
 {
    color: goldenrod;
    display: inline;
    font-size: 50px;
 }
.background
{ 
   background-size: cover;
   width: 1348px;
   background-size: contain;
}
.copyright-wrapper
{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
