@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('resources/images/background.png');
  background-size: cover;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

p {
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media (prefers-color-scheme: dark) {
  button {
    color: #fff;
    background-color: #323232;
  }

  input {
    background-color: #ccc;
  }

  *{
    color: #000;
  }
} */