.containerLabel {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px !important;
}

input[type=checkbox] {
    visibility: hidden;
}

.mark {
    position: absolute;
    bottom: 60%;
    left: 0;
    height: 15px !important;
    width: 15px !important;
    background-color: black;
    border: 2px solid #e0aa3e;
    border-radius: 4px;
}

.containerLabel:hover input ~ .mark {
    background-color: #555;
}

.containerLabel input:checked ~ .mark {
    background-image: url('../../resources/images/checkmark.png');
    background-size: contain;
    background-color: #e0aa3e;
}

/* .mark::after {
    content: "";
    position: absolute;
    display: none;
}

.containerLabel input:checked ~ .mark::after {
    display: block;
} */

@media only screen and (max-width: 1000px) {
    .mark {
        height: 26px !important;
        width: 26px !important;
    }

    .containerLabel {
        padding-left: 50px
    }
}
