.formPair label{
    display: block;
    color: #fff;
    margin-bottom: 15px;
}

.formPair {
    margin: 2rem 0;
}

.formPair textarea{
    width: 100%;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 100px !important;
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:1000px) {
    .formPair textarea{
        height: 3rem;
    }
}